<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>株式会社 光貴建運 | 千葉県の産業廃棄物運送会社</title>
  <meta name="description" content="光貴建運は、大型10トンダンプで東京、千葉県、埼玉県、神奈川県などで運送サービスを展開する千葉県の産業廃棄物運送会社です。土木現場の管理などの業務も承っております。">
  <meta name="keywords" content="産業廃棄物運送, 千葉県, 東京, 埼玉県, 神奈川県, 10トンダンプ, 土木現場, 管理">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-YOUR_ID"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'GTM-YOUR_ID');
  </script>
  <link rel="icon" href="/favicon.ico">

  <meta property="og:title" content="株式会社 光貴建運 | 千葉県の産業廃棄物運送会社">
  <meta property="og:description" content="光貴建運は、大型10トンダンプで東京、千葉県、埼玉県、神奈川県などで運送サービスを展開する千葉県の産業廃棄物運送会社です。土木現場の管理などの業務も承っております。">
  <meta property="og:url" content="https://your-domain.com/">
  <meta property="og:image" content="https://your-domain.com/og-image.jpg">
  <meta property="og:type" content="website">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="株式会社 光貴建運 | 千葉県の産業廃棄物運送会社">
  <meta name="twitter:description" content="光貴建運は、大型10トンダンプで東京、千葉県、埼玉県、神奈川県などで運送サービスを展開する千葉県の産業廃棄物運送会社です。土木現場の管理などの業務も承っております。">
  <meta name="twitter:url" content="https://your-domain.com/">
  <meta name="twitter:image" content="https://your-domain.com/og-image.jpg">
  
<style>
@font-face {
	font-display: swap;
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'),url('fonts/noto-sans-jp-regular.woff2') format('woff2'), url('fonts/noto-sans-jp-regular.woff') format('woff');
}
@font-face {
	font-display: swap;
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans Japanese Medium'), local('NotoSansJapanese-Medium'), url('fonts/noto-sans-jp-medium.woff2') format('woff2'), url('fonts/noto-sans-jp-medium.woff') format('woff');
}
@font-face {
	font-display: swap;
	font-family: 'Noto Sans JP';
	font-style: bold;
	font-weight: 700;
	src: local('Noto Sans Japanese Bold'), local('NotoSansJapanese-Bold'), url('fonts/noto-sans-jp-bold.woff2') format('woff2'), url('fonts/noto-sans-jp-bold.woff') format('woff');
}
@font-face {
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  src: local('Itim'), local('Itim-Regular'),url('fonts/itim-latin-regular.woff2') format('woff2'), url('fonts/itim-latin-regular.woff') format('woff');
}
</style>
<style>
.loading{width:100%;height:100%;background:#FFF;position:fixed;top:0;left:0;z-index:20000}.loading img{width:154px;height:42px;position:absolute;top:50%;left:50%;margin-top:-21px;margin-left:-77px;animation:loadingImg 9s ease-in .5s both}@keyframes loadingImg{0%,100%{opacity:0}10%,70%{opacity:1}}#map{width:1040px;height:580px;box-shadow:0 8px 8px 0 rgba(0,0,0,.1);background:rgba(0,0,0,.1);float:left;box-sizing:border-box;margin:40px auto}@media screen and (max-width:768px){#map{width:100%;height:50vh;box-shadow:none;background:#F4F4F4;float:left;box-sizing:border-box;margin:2rem auto;display:block}}
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></noscript>
<script>
(function(a){if(!a.loadCSS){a.loadCSS=function(){}}var b=loadCSS.relpreload={};b.support=(function(){var d;try{d=a.document.createElement("link").relList.supports("preload")}catch(f){d=false}return function(){return d}})();b.bindMediaToggle=function(e){var f=e.media||"all";function d(){if(e.addEventListener){e.removeEventListener("load",d)}else{if(e.attachEvent){e.detachEvent("onload",d)}}e.setAttribute("onload",null);e.media=f}if(e.addEventListener){e.addEventListener("load",d)}else{if(e.attachEvent){e.attachEvent("onload",d)}}setTimeout(function(){e.rel="stylesheet";e.media="only x"});setTimeout(d,3000)};b.poly=function(){if(b.support()){return}var d=a.document.getElementsByTagName("link");for(var e=0;e<d.length;e++){var f=d[e];if(f.rel==="preload"&&f.getAttribute("as")==="style"&&!f.getAttribute("data-loadcss")){f.setAttribute("data-loadcss",true);b.bindMediaToggle(f)}}};if(!b.support()){b.poly();var c=a.setInterval(b.poly,500);if(a.addEventListener){a.addEventListener("load",function(){b.poly();a.clearInterval(c)})}else{if(a.attachEvent){a.attachEvent("onload",function(){b.poly();a.clearInterval(c)})}}}if(typeof exports!=="undefined"){exports.loadCSS=loadCSS}else{a.loadCSS=loadCSS}}(typeof global!=="undefined"?global:this));
</script>
<link rel="stylesheet" href="css/common.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="css/common.css"></noscript>
<script>
(function(a){if(!a.loadCSS){a.loadCSS=function(){}}var b=loadCSS.relpreload={};b.support=(function(){var d;try{d=a.document.createElement("link").relList.supports("preload")}catch(f){d=false}return function(){return d}})();b.bindMediaToggle=function(e){var f=e.media||"all";function d(){if(e.addEventListener){e.removeEventListener("load",d)}else{if(e.attachEvent){e.detachEvent("onload",d)}}e.setAttribute("onload",null);e.media=f}if(e.addEventListener){e.addEventListener("load",d)}else{if(e.attachEvent){e.attachEvent("onload",d)}}setTimeout(function(){e.rel="stylesheet";e.media="only x"});setTimeout(d,3000)};b.poly=function(){if(b.support()){return}var d=a.document.getElementsByTagName("link");for(var e=0;e<d.length;e++){var f=d[e];if(f.rel==="preload"&&f.getAttribute("as")==="style"&&!f.getAttribute("data-loadcss")){f.setAttribute("data-loadcss",true);b.bindMediaToggle(f)}}};if(!b.support()){b.poly();var c=a.setInterval(b.poly,500);if(a.addEventListener){a.addEventListener("load",function(){b.poly();a.clearInterval(c)})}else{if(a.attachEvent){a.attachEvent("onload",function(){b.poly();a.clearInterval(c)})}}}if(typeof exports!=="undefined"){exports.loadCSS=loadCSS}else{a.loadCSS=loadCSS}}(typeof global!=="undefined"?global:this));
</script>
<title>株式会社光貴建運｜千葉県浦安市の産業廃棄物運送会社です。大型１０トンダンプで東京、千葉県、埼玉県、神奈川県、などで運送サービスを展開。</title>
</head>

<body id="top-page">
<div class="loading" style="display: none;">
</div>

<div class="container">

<div id="menu-bg"></div>
<header id="header" class="">
<div class="header-inner">
<input id="menu" type="checkbox" name="menu" class="hiddencheckbox">
<label for="menu" class="menu-icon"></label>
<nav class="menu">
<ul id="menu-list">
    <li class="menu-list-li"><a class="menu-list-a" href="/">>トップページ</a></li>
    <li class="menu-list-li"><a class="menu-list-a" href="/company">>企業情報</a></li>
    <li class="menu-list-li"><a class="menu-list-a" href="/information">>採用情報</a></li>
    <li class="menu-list-li"><a class="menu-list-a" href="tel:0473541662">047-354-1662</a></li>
</ul>
</nav>
</div>
</header>

<section id="top">
<div class="slide"><ul>
<li class="slide-list">
	<h2 class="slide-caption"></h2></li>
</ul>
</div>
</section>

<section id="recommend">
<div class="content">
<ul class="recommend-list">
<li class="recommend-list-li">
  <a href="/#top-business" class="recommend-list-a">
    <p class="recommend-list-p">
      <img src="<%= asset_path('26190610_s.png') %>" width="250px" height="120px" alt="事業内容事業内容">
    </p>
    <span class="recommend-list-span">事業内容<em class="en">Service</em></span>
  </a>
</li>
<li class="recommend-list-li">
  <a href="/company" class="recommend-list-a">
    <p class="recommend-list-p">
      <img src="<%= asset_path('28820165_s.png') %>" width="250px" height="120px" alt="企業情報">
    </p>
    <span class="recommend-list-span">企業情報<em class="en">Company</em></span>
  </a>
</li>
<li class="recommend-list-li">
  <a href="/information" class="recommend-list-a">
    <p class="recommend-list-p">
      <img src="<%= asset_path('26084212_s.png') %>" width="250px" height="120px" alt="採用情報">
    </p>
    <span class="recommend-list-span">採用情報<em class="en">information</em></span>
  </a>
</li>
</ul>
</div>
</section>

<section id="news">
  <div class="content">
    <h2 class="section-title">NEWS<br><span>新着情報</span></h2>
    <div class="news-table fade-up">
      <div class="news-table-row">
        <div class="news-time"><p>2022</p></div>
        <div class="news-category"><p>お知らせ</p></div>
        <div class="news-content"><p>大型１０tダンプを１台追加しました。</p></div>
      </div>
      <div class="news-table-row">
        <div class="news-time"><p>2024</p></div>
        <div class="news-category"><p>採用情報</p></div>
        <div class="news-content"><p>大型１０tダンプドライバーを３名募集します。</p></div>
      </div>
    </div>
  </div>
</section>

<section id="top-business">
<div class="content">
<h2 class="section-title">CONTENTS<br><span>事業内容</span></h2>
<div class="content-box-cover">
	<div class="content-box">
			<img src="<%= asset_path('DSC_0021.png') %>" width="250px" height="120px" alt="一般貨物自動車運送業">
			<h3>一般貨物自動車運送業</h3>
			<p>産業廃棄物の安全で迅速な運搬を行います。廃棄物の種類に応じた適切な処理を徹底し、環境への負荷を最小限に抑えます。豊富な経験と最新の設備を活用し、法令遵守のもと、地域社会に貢献する信頼の運搬サービスを提供します。</p>
	</div>
	<div class="content-box">
			<img src="<%= asset_path('22474851_m.png') %>" alt="土木工事請負業">
			<h3>土木工事請負業</h3>
			<p>土木工事請負業として道路工事、造成工事、舗装工事など多岐にわたる工事を請け負います。高い技術力と豊富な経験を活かし、安全・迅速・確実な施工を提供し、地域社会の発展に貢献します。</p>
	</div>
</div>
</div>
</section>

<section id="contact">
<div class="content">
<h2 class="section-title">CONTACT<br><span>お問い合わせ</span></h2>
<div class="contact-area">
<p class="contact-note">お気軽にお問い合わせください<br class="pc-hidden">（月〜金 10：00〜17：00）</p>
<h3 class="contact-tel"><a href="tel:0473541662" class="call m-i">047-354-1662</a></h3>
</div>
</div>
</section>



<div class="fixed-btn fade-btn"><a href="contact/"><i class="material-icons">mail_outline</i><span>お問い合わせ</span></a></div>

<footer>
<div class="content">
<ul>
    <li>
        <dl>
            <dt><a href="/">事業内容</a></dt>
        </dl>
    </li>
    <li>
        <dl>
            <dt><a href="/company">会社概要</a></dt>
        </dl>
    </li>
    <li>
        <dt>
            <dt><a href="/information">採用情報</a></dt>
    </li>
</ul>
<address>〒279-0043 千葉県浦安市富士見4-6-23<br>TEL.047-354-1662　FAX.047-354-1650</address></div>
</div>

</footer>

</div><!-- end container-->


</body>
</html>